{% extends "main/baseloggedin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="modal hide" id="loadingValidationModal" tabindex="-1" role="dialog" aria-labelledby="loadingValidationModal"
    data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadingValidationModalTitle">Training Agent</h5>
            </div>
            <div class="modal-body">
                Your agent is currently training. <strong>Please be patient!</strong> This process may take a
                while. As long as the application does not produce an error, your agent is still actively being
                trained. <br />
                    <img src="{% static 'main/loading.gif' %}" class="mx-auto d-block" alt="Loading...">
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <img src="{% static 'main/gensim_logo.png' %}" width="300" alt="Dedupe.io Logo" class="mb-3">
    <h3 class="mb-3">Gensim Agent Training (Agent: {{agent.name}})</h3>
    <div class="alert alert-info" role="alert">
        <h5>How to train</h5>
        <p>gensim is a topic modelling library using the Word2Vec algorithm to automatically learn and match related words. <br />
        gensim should be trained on a single column which has a high likelihood of containing similar words. Consider the following: </p>
        <ul>
            <li><strong>Does this column contain descriptive text?</strong> If not, consider a different column.</li>
            <li><strong>Are you trying to detect synonymous words within this column? </strong> If not, consider a different column.</li>
        </ul>
        </p>
        <p>
            Example fields that gensim may be appropriate for:
        <ul>
            <li>Descriptions of Data (Projects, People, ...)</li>
            <li>Textual records of speech</li>
            <li>Free-form comment fields</li>
        </ul>
        </p>
    </div>

    <form method="POST" action="/agents/train/{{agent.id}}">
        {% csrf_token %}
        <div class="form-group">
            <label for="datasetSelect">Select a dataset to train on</label>
            <select class="form-control" id="datasetSelect" name="dataset" onchange="datasetChanged()">
                <option disabled selected value> Select dataset </option>
                {% for dataset in datasets %}
                <option value={{dataset.id}}>{{dataset.name}}</option>
                {% endfor %}
            </select>
        </div>
        <label for="datasetSelect">Select a column to train on (select dataset first)</label>
        <div class="form-group">
            <select class="form-control" id="columnId" name="columnId" disabled>
            </select>
        </div>
        <input type="submit" name="selftrained-setup" class="btn btn-success" data-toggle="modal"
            data-target="#loadingValidationModal" value="Setup agent"></input>

    <h2 class="my-3"><strong>OR</strong></h2>
        <div class="form-group">
            <label for="datasetSelect">Select a pretrained model</label>
            <select class="form-control" id="pretrainedSelect" name="pretrainedSet">
                <option disabled selected value> Select pretrained model </option>
                {% for model in pretrained %}
                <option value={{model}}>{{model}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" name="pretrained-setup" class="btn btn-success" value="Use pretrained model"
         data-toggle="modal" data-target="#loadingValidationModal"></input>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    //when a dataset is selected, add an option for each column to train on
    function datasetChanged() {
        value = $("#datasetSelect").val()
        $.ajax({
            url: '/ajax/get_columns/' + value,
            dataType: 'json',
            success: function (data) {
                counter = 1;
                select = $("#columnId")
                options = ""
                data.columns.forEach(element => {
                    options += '<option value="' + element.id + '">' + element.name + ' (' + element.dtype + ')</option>'
                })
                console.log(options)
                select.html(options)
                select.removeAttr('disabled')
            }
        });
    }
</script>
{% endblock %}